.content-page {
  .overview {

    .widget-title {

      h1 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 36px;
        line-height: 48px;
        font-family: 'iCiel Fester Semi-Condensed';
        font-display: optional;
        position: relative;
        color: #444a59;

        span {
          background: #fff;
          padding: 0 15px 0 0;
        }

        &::before {
          content: "";
          position: absolute;
          bottom: 18px;
          width: 100%;
          height: 15px;
          z-index: -1;
          background: #fee192;
          // right: 0;
        }
      }
    }

    .text-widget {
      ul {
        li {
          position: relative;
          padding-left: 40px;
          line-height: 30px;
          font-size: 15px;
          color: #666;

          &::before {
            position: absolute;
            content: url(https://tamanh.net/wp-content/themes/banhang/images/icon_check.png);
            left: 0;
            top: 5px;
          }
        }
      }
    }
  }

  .vision_mission {
    padding: 100px 0;
    position: relative;

    .vision_mission_title {
      color: #444a59;
      font-size: 30px;
      font-family: 'iCiel Fester Semi-Condensed';
      font-display: optional;
      text-align: center;
      padding: 55px 0 50px;
      position: relative;

      &::before {
        content: url(https://tamanh.net/wp-content/themes/banhang/images/number_one.png);
        position: absolute;
        top: -35px;
        left: 0;
        right: 0;
        text-align: center;
      }
    }

    .text-content {
      margin: 100px 0;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        width: 30px;
        height: 2px;
        top: 13px;
        left: -50px;
        background-color: #ddba76;
        border: 1px solid #ddba76;
      }

      .widget-title {
        color: #444a59;
        font-size: 24px;
        font-family: 'iCiel Fester Semi-Condensed';
        font-display: optional;
        line-height: 30px;
      }

      .text-widget {
        p {
          font-size: 15px;
          line-height: 30px;
          color: #9b9b9b;
        }
      }
    }
  }
}